<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragments/head :: head}">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>

  <header th:replace="~{/fragments/header :: header}">
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
        <div class="documents" th:each="document : ${documents}">
          <h3><a th:href="@{'/posts/ + ${document.id}'}" th:text="${document.certification}"></a> Certification</h3>
          <h5 th:text="'Username: ' + ${document.account.username}"></h5>
          <p th:text="'Comments: ' + ${document.comments}">Comments</p>
          <hr/>

        </div>
    </div>
  </section>

  <footer th:replace="~{/fragments/footer :: footer}"></footer>

</body>

</html>